@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    
}
.navbar{
    z-index: 1;
    display: flex;
    height: 100px;
    background-color: black;
    border-bottom: 1px solid white ;
    background-size:cover;
    
}
.logo{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    padding-left: 50px;
    font-family: "Anta", sans-serif;
    font-style: normal;
    font-size: 50px;
}
.logo:hover{
    cursor: pointer;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    margin-left:auto;
}
.nav-links a{
    padding: 20px;
    text-decoration: none;
    color: white;
    font-family: "Jost", sans-serif;
    font-size: 25px;
    
}
.nav-links a:hover{
    background-color: red;
    height:fit-content;
    width:fit-content;
    border-radius:20px;
    transition: 0.5s;
}
.mydata{
    background-size: cover;
    height: 800px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myimage{
    padding: 10px;
    border: 3px solid white;
    border-radius:40%;
    ;   
}
.myimage:hover{
    border-radius:10px;
    transition: 1s ease-in-out;
}
.mydatainfo{
    width: 400px;
    color: white;
    font-size: 50px;
}
p{
    margin-left: 30%;
    font-size:20px;
}
.footer{
    background-color:#7f7f7f;
    height:300px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer a{
    opacity:0.5;
    color:black;
    padding: 30px;
}
.footer a:hover{
    opacity: 1;
}